services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: teste-adriano-cobuccio-laravel-app
    volumes:
      - .:/var/www/html
    command: sh -c "composer install && php-fpm"
    networks:
      - laravel

  nginx:
    image: nginx:latest
    container_name: teste-adriano-cobuccio-laravel-nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: teste-adriano-cobuccio-laravel-mysql
    restart: always
    environment:
      MYSQL_DATABASE: teste_adriano_cobuccio_laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel

  vite:
    image: node:20
    container_name: teste-adriano-cobuccio-laravel-vite
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "5173:5173"
    networks:
      - laravel

networks:
  laravel:

volumes:
  mysql_data:
